body {
	font-family: 'Raleway', sans-serif;
	margin: 10;
	padding: 10;
}
#trait{

	width:160px;
	height:2px;
	background-color: #2600ff;
	font-size:0;
	position: relative;
	top: 0px; left: 10px;
}

.img_res{
	width: 20% ;
	position: relative;
	bottom: 10px;
}

.logo_reservia{
	background-color: cyan;
	padding-top: 70px;
}

.accueil{
	
	flex-direction: column ;
}


.textacc{
	background-color: yellow;
	padding-top: 70px;
	width: 400px;
	display: flex;
	justify-content: space-around;
	font-size: 15px;
}

#haut{
	border: solid black;
	height: 100px;
	padding:0;
	/*background-color: yellow;*/
	display: flex;
	justify-content: space-between;
}

p.accueil {
		font-weight: bold;
		/* text-decoration: none; */
}

#id01{

	font-size: 60%;
	font-weight: normal;
}
.sect01{
	display: flex;
	flex-direction: column;
}
.recherche{
	display:flex;
	align-items: stretch;
	border: #2600ff;
	width: 500px;
	border-radius: 15%;
}

#iconr{
	width: 25px;
	height: 30px;
    background-color: rgba(233, 224, 228, 0.863);		
   	border-top-left-radius: 10px; 
	border-bottom-left-radius: 10px;   
	/*border: 1x solid gey;*/
	text-align: center;   
}

#iconr i{
	position: relative;
	top: 5px;
}

.textacc a{
	text-decoration: none;
}

#champ{
   	border: solid rgba(233, 224, 228, 0.863);
	margin-left: 0px;
	height: 22px;
	width: 179px;   
}

#rechercher{
	position: relative;
	width: 100px;
	height: 30px;
	top: 0px;
	left: -4px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: black; 
	color: white ;
}

.filtre{
	position: relative;
	top: 20px;
	left: 0px;
	width: 70%;
	display:inline-flex;
	/*justify-content: space-between;*/ 
	border: solid blue;
}
#idf00{
	font-weight: bold;
	font-size: 80%;
}

#idflabels{
	border: solid yellow;
	display: inline-flex;
	justify-content: space-around;
	width: 880px;
		
} 

.eco, .famille, .roman, .autoriz{
	/*display:flex;
	justify-content:;
	align-items: stretch;*/
	/*border: #2600ff;*/
	width: 300px;
	border-radius: 15%;
}

#idf01, #idf03, #idf05, #idf07 {
	width: 100px;
	height: 30px;
    background-color: rgba(233, 224, 228, 0.863);
	border-radius: 50%;		
   	/*border-top-left-radius: 10px; 
	border-bottom-left-radius: 10px; */  
	text-align: center;   
}

#idf01 i, #idf03 i, #idf05 i, #idf07 i{
	position: relative;
	top: 5px;
}

#idf02, #idf04, #idf06, #idf08{
	border: solid rgba(233, 224, 228, 0.863);
 	margin-left: 0px;
    height: 22px;
	font-weight: bold;
	font-size: 80%;
	text-align: center;
     
}
#idf02{
    width: 300px;
}
#idf04{
    width:170px;
}
#idf06{
	width:200px;
}
#idf08{
	width: 500px;
}

#offres{
	position: relative;
	top: 50px;
	display: inline-flex;
}
#idof{
	width: 20px;
	height: 20px;
    border:rgba(201, 191, 201, 0.603) solid;
	border-radius: 50%;		
   	/*border-top-left-radius: 10px; 
	border-bottom-left-radius: 10px; */  
	text-align: center;
	position: relative;
	top: 10px; 
}

#idof i{
	position: relative;
	top: 1px;
}
#offres p{
	position: relative;
	left: 10px;
	font-size: 90%;
}
/*
.sect02{
	display: inline-flex;
}
.principal{
	background-color: rgba(201, 191, 201, 0.603);
	border: solid blueviolet;
	display: flex;
	flex-direction: column;
}

.jaune{
	color: yellow;
}
.grise{
	color: grey;
}

.hebergements01{
	background-color: rgba(216, 191, 216, 0.733);
	display: inline-flex;
	border: solid blue;
}
.hebergements02{
	background-color: rgba(241, 26, 26, 0.733);
	display: inline-flex;
	border: solid rgb(145, 255, 0);
}

.image01{
	background-color: white;
}
.image01 img{
	width: 15%;
	height: auto;
}
aside{
	background-color: rgba(216, 191, 216, 0.733);
	display: flex;
	border: solid brown;
}
.image02 img{
	width: 15%;
	height: auto;
}
.impop01{
	background-color: white;
}
.soleil, .coeur, .toutbleu{
	display:flex;
}

.sect03{
	border: solid blueviolet;
}
#activ{
	border: solid brown;
	display: flex;
}

footer{
	display: flex;
}
.apropos{
	border: solid brown;
	
}
.nosheberg{
	border: solid brown;
	
}
.assistance{
	border: solid brown;
	
}
*/

@media screen and (min-width: 635px) and (max-width: 765px)
{
   #haut, .sect01,.recherche, .filtres, #idflabels, #offres{
       flex-direction: column;
      }
}



/*
#idf00{
	position: relative;
	top: 5px;
	height: 20px;
	background-color: rgb(162, 162, 177);
}

#idflabels{
	width: 900px;
	display: flex;
	justify-content: space-between;
}

#idf02, #idf04, #idf06, #idf08{
	position: relative;
	top: 5px;
	height: 20px;
	/*background-color: rgb(50, 241, 225); 
	border: solid blue;
}

#idf01, #idf03, #idf05, #idf07{
	position: relative;
	width: 40px;
	top: 5px;
	height: 30px;
	background-color: grey;
	border-radius: 50px;
}

.fas fa-map-marker-alt{
    width: 20;
}
*/