body {
	font-family: 'Raleway', sans-serif;
	margin: 20px;
	position: relative;
		
}
/*=================== SECTION 01 ( Logo et Accueil)================*/

#haut{
	height: 80px;
	display: flex;
	justify-content: space-between;
	margin-left:20px;
	margin-right:20px;
}
.img_res{
	width: 20% ;
	position:relative;
	top:40px
}

.logo_reservia{
	margin-left: 0px;
	
}
#trait{

	width:160px;
	height:2px;
	background-color: #0065FC;
	font-size:0;
	position: relative;
	top: 0px; left: 10px;
}
.accueil{
	margin-right: 0px;
}
.textacc{
	width: 400px;
	display: flex;
	justify-content: space-around;
	font-size: 15px;
	color: #0065FC;
	position:relative;
	top:40px
}
.textacc a{
	text-decoration: none;
}
.textacc a:hover{
	color:black;
}

/*============SECTION 01 bis ( Titre, recherche et filtre )=============*/

#sect01{
	margin-top: 10px;
	background-color: #fdfffa;
	margin-left:20px;
	margin-right:20px;
}

#titre01{
	width:80%;
}

#id01{

	font-size: 70%;
	font-weight: normal;
}

.rech{
	display:flex;
	align-items: stretch;
}

#iconr{
	width: 2.8%;
	height: 40px;
    background-color: #F2F2F2;		
   	border-top-left-radius: 10px; 
	border-bottom-left-radius: 10px;   
	text-align: center;   
}

#iconr i{
	position: relative;
	top: 8px;
	font-size: 13px;  
}
#champ{
   	border: solid  #F2F2F2 1px;
	margin-left: 0px;
	height: 40px;
	width: 16.129%; 
	color: black;
	font-weight: bold;
	font-size: 95%;  
	text-indent: 10px;
}

#rechercher{
	position: relative;
	width: 10%;
	height: 40px;
	top: 0px;
	left: 0px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #0065FC; 
	color: white ;
	border: solid #0065FC; 
	
}
#butt{
		visibility: hidden;
}		
/*===================Filtre======================*/
.filtre{
	width: 70%; 
	display: flex;
	justify-content:space-around;
	padding-left:0;
	margin-top:15px; 
	
}
#idf00{
	font-weight: bold;
	font-size: 95%;
	position: relative;
	top: 8px; 
}

.eco{
	width:22%;
	display:flex;
	font-size: 100%;
}
 
.famille{
	width: 16%;
	display:flex;
	font-size: 100%;
}
.roman{
	width: 20%;
	display:flex;
	font-size: 100%;
}
.autoriz{
	width: 28%;
	display:flex;
	font-size: 100%;
}

#idf01, #idf03, #idf05, #idf07 {
	min-width: 36px;
	height: 36px;
    background-color:#DEEBFF;
	border-radius: 50%;		
   	text-align: center;
	position: relative;
	left: 20px;
}

#idf01 i, #idf03 i, #idf05 i, #idf07 i{
	font-size: 13px;
	color: #0065FC;
	position: relative;
	top: 8px; 
}

#idf02, #idf04, #idf06, #idf08{
	border: solid #F2F2F2;
	width:100%;
 	height: 30px;
	font-weight: bolder;
	font-size: 90%;
	text-align: center;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	background-color: white;

}
.choix{
	position: relative;
	top: 5px;
	left: 5px;
}	

#offres{
	margin-left: 0px;
	margin-right: 10px; 
	margin-top:10px;
	display: flex;
	width:85%;
}
#idof{
	width: 18px;
	height: 18px;
    border:#F2F2F2 solid;
	border-radius: 50%;		
   	text-align: center;
	position: relative;
	top: 8px; 
}

#idof i{
	position: relative;
	bottom: 3px;
	font-size: 10px;
	color: #0065FC;
}
#offres p{
	padding-left:10px;
	font-size:80%;
}

.choix{
	text-decoration: none;
	color: black;
}
.choix:hover {
  background-color: gold;
}

/*================SECTION 02 ===============*/
#sect02{

	margin-top: 35px;
	height: 620px;
	display: flex;
	margin-left:20px;
	margin-right:20px;
		
}
.principal{
	width: 68%;
	height: 576px;
	background-color:#F2F2F2;
	border-radius: 15px;
	
}
.principal h3{
	width:100%;
	padding-left: 32px;
	position: relative;
	top: 15px; 
}
#hebergements{
	display: flex;
	flex-wrap: wrap;
}

.bleu1, .bleu2{
	color: #0065FC;
	font-size: 10px
}
.grise1, .grise2{
	color: #F2F2F2;
	font-size: 10px;
}

#image11, #image12, #image13, #image14, #image15, #image16{
	width: 28%;
	height: 190px;
	background-color: white;
	font-size: small;
	border: #fdfffa solid 2px;
	border-radius: 13px;
	box-shadow: 1px 2px #f2f2f2;
	margin:14px;
	position: relative;
	left: 12px;
}
.imheb{
	height: 65%;
}	
.imheb img{
	width:99%;
	height: 100%;
	border: #fdfffa solid 2px;
	object-fit: cover;
	border-top-left-radius: 13px;
	border-top-right-radius: 13px;
}
	
.legend01 a{
	color: black;
	text-decoration: none;
}
 
.noir_sstrait{
	color: black;
	text-decoration: none;
}

.legend01{
	height: 35%;
	width:100%;
	padding-top: 10px;
	padding-left: 10px;
	margin-right:0px;
}
.grise1, .bleu1 {
	position: relative;
	top: 5px;
}
.grastxt{
	font-weight: bolder;
	color: black;
}

#affch{
	width:100%;
	padding-left:27px;
	
}
.affchplus{
	text-decoration: none;
	color: black;
	font-weight: bolder;
	font-size: 98%;
}

/*=============== ASIDE ===============*/
aside{
	width: 32%;
	height: 576px;
	background-color: #F2F2F2;
	border-radius: 15px;
	margin-left: 35px;  
}

#pop{
	display: flex;
}
#pop h3{
	padding-left: 28px;
	position: relative;
	top: 15px; 
}
#pop i{
	position: relative;
	left: 125px; 
	top: 35px;
	font-weight: bolder;
	font-size: 20px;
}
#image21, #image22, #image23{
	display: flex;
	height: 140px;
	margin: 26px;
	position: relative;
	bottom:12px;
	left: 5px;
	
}
.impop{
	width:40%;
} 
.impop img{
	width:100%;
	height: 137px;
	border: #fdfffa solid 3px;
	object-fit: cover;
	border-top-left-radius: 13px;
	border-bottom-left-radius: 13px;
}
.imtxt{
	width: 53%;
	height: 137px;
	border-top-right-radius: 13px;
	border-bottom-right-radius: 13px;
	background-color: white;
	font-size: small;
	border:white solid 3px;
		
}
.imtxt p{
	padding-left: 10px;
}
.grise2, .bleu2 {
	position: relative;
	top: 55px;
}


/**============== SECTION 03 ===============*/
#activ{
margin-left:20px;
margin-top: 1px;

}
.sect03{
	height: 460px;
	display:flex;
	margin-left:20px;
	margin-right:20px;
	
}
/*=============Les Activités à Marseille =============*/
#activ01, #activ02, #activ03, #activ04{
	width:25%;
	margin-right: 22px;
}
/*=================Partie 1=================*/
.vieuxport{
    width: 100%;
   	height:89%;   
	border: #f2f2f2 solid 1px;
	object-fit: cover;
	border-top-left-radius:13px;
	border-top-right-radius:13px;
}

/*==================Partie 2================*/
#activ02a{
	height:58%;
}
.pomeg{
	width: 100%;
	height: 82%;
	border: #f2f2f2 solid 1px;
	object-fit: cover;
	border-top-left-radius:13px;
	border-top-right-radius:13px;
} 
#activ02b{
	height:35%;
	margin-top:30px;
}
.frioul{
	width: 100%;
	height: 70%;
	border: #f2f2f2 solid 1px;
	object-fit: cover;
	border-top-left-radius:13px;
	border-top-right-radius:13px;
}
/*==================Partie 3 =================*/
.parc{
	width: 100%;
   	height:89%;   
	border: #f2f2f2 solid 1px;
	object-fit: cover;
	border-top-left-radius:13px;
	border-top-right-radius:13px;
}
/*==================Partie 4 =================*/
#activ04a{
	height:45%;
}
.notredame{
	width: 100%;
	height: 77%;
	border: #f2f2f2 solid 1px;
	object-fit: cover;
	border-top-left-radius:13px;
	border-top-right-radius:13px;
}
#activ04b{
	height:46%;
	margin-top:30px;
}
.longch{
	width: 100%;
	height: 82%;
	border: #f2f2f2 solid 1px;
	object-fit: cover;
	border-top-left-radius:13px;
	border-top-right-radius:13px;
}
#activ02{
	position: relative;
	left: 8px;
}
#activ03{
	position: relative;
	left: 15px;
} 
#activ04{
	position: relative;
	left: 22px;
}

/*================= Légende 02 ===============*/
.legend02{
	height: 40px;
	width:100%;
	font-size: small;
	font-weight: bolder;
	border-left: #f2f2f2 solid 3px;
	border-right: #f2f2f2 solid 3px;
	border-bottom: #f2f2f2 solid 3px;
	border-bottom-left-radius:13px;
	border-bottom-right-radius:13px;
	position: relative;
	right: 2px;
}
.leg{
	position: relative;
	left: 10px;
	top: 10px;
}

/**================== FOOTER =================**/
footer{
	display: flex;
	font-size: small;
	margin-top: 20px;
	background-color: rgb(223, 219, 219);
	padding-left:20px;
}
#apropos{
	width: 33%; 
}
#nosheberg{
	width:33%; 
	position: relative;
	left: 40px;
}
#assistance{
	 width:33%;
	 position: relative;
	 left: 25px;
}
.sstrait{
	text-decoration: none;
	color: black;
}

/*============= ADAPTATION RISPONSIVE ==============*/
@media screen and (max-width: 765px)
{
 	body{
		font-family: 'Raleway', sans-serif;
		overflow-x: hidden;
		margin-left: 57px;
		margin-right:57px;
	  }
	  
        /*=============header ===========*/
	#haut{
		height: 150px;
		width: 100%;
		display: block;
		position: relative;
		right: 20px;
	}
	
	.logo_reservia{
		padding-left: 20px;
	}
	#trait{
		position: relative;
		top: 90px;
		left:1px;
	}
	#heber{
		position: relative;
		top: 20px;
	}
	#act{
		position: relative;
		top: 20px;
		left: 50px;
	}
	#inscri{
		position: relative;
		bottom: 32px;
		right: 50px;
	}
	#sect01{
		position: relative;
		left: 0px;
	}
	
	#titre01{
		padding-left: 0px;
		padding-right:80px;
		
	}
	#iconr{
		width: 15%;
	}
	#champ{
		width: 100%; 
		position: relative;
	}
	#rechercher{
		visibility: hidden;
	}
	#butt{
		visibility: visible;
		color:white;
		background-color: #0065FC;
		border:#0065FC 1px;
		position: relative;
		right:45px;
		border-radius:10px;
		width:55px;
	}
	
	.filtre{
		width: 100%;
		height: 200px;
		display: flex;
		flex-direction:column;	
		margin-top:15px; 
	}

	#idf00{
		font-weight: bold;
		font-size: 90%;
	}
	.eco{
		width: 174px;
		position: relative;
		left: 0px;
		top:10px;
	}
	#idf01{
		position: relative;
		left: 0px;
		z-index: 1;
	
	}
	#idf02{
		width:100%;
		position: relative;
		right: 20px;
		padding-left: 20px;
	}
	
	.famille{
		width:136px;
		position: relative;
		left: 162px;
		bottom: 33px;
		
	}
	#idf03{ 
	 	position: relative;
		left: 5px;
		bottom: 0px;
		z-index: 1;
	}
	#idf04{ 
	 	position: relative;
		right: 15px;
		bottom: 0px;
		padding-left: 20px;
	} 
	.roman{
		width:164px;
		position: relative;
		right: 0px;
		bottom: 30px;
	}	
	#idf05 {
		 
		position: relative;
		left: 0px;
		z-index: 1;
	}
	#idf06{
		position: relative;
		right: 22px;
		padding-left:20px;
	}
	.autoriz{
		width:210px;
		position: relative;
		right: 0px;
		bottom:27px;
	}
	#idf07 {
		position: relative;
		left: 0px;
		z-index: 1;
	}
	#idf08 {
		position: relative;
		right: 22px;
		padding-left:20px;
	}
	#offres{
		margin-top:0px;
		
	}
	#offres p{
		position: relative;
		bottom:8px;
	}
	#idof{
		width: 18px;
		height: 14px;
		position: relative;
		top:2px;
	}
	#idof i{
		position: relative;
		bottom:5px;
	}

	  /*============== section02 =============*/

	  #sect02{
		width: 100%;
		height: 2000px;
		display: block;
		position: relative;	
		right: 20px; ;
	}  

    aside{
		width: 100%;
		position: absolute;
		top: 0px;
		right: 1px;
		height: 600px;
		border-radius: 0%;
	}
	#pop{
		padding-right: 40px;
	} 
	#pop h3{
		position: relative;
		right: 10px;
	}
	#ipop{
		position: relative;
		left:5px;
	} 
	
	#image21, #image22, #image23{
		width: 95%;
		margin-left: 12px;
	}
	.principal{
		position: absolute;
		bottom: 0px;
		height: 1400px;
		width: 100%;
		background-color: white;	
	}
	.principal h3{
		position: relative;
		right: 10px;
	}

	#hebergements{
		display: block;
		height: 700px;
		width:100%;
		margin-top: 30px;
	}
	#image11, #image12, #image13, #image14, #image15, #image16{
		width: 90%;
		margin-left: 4px;
	} 
	#affch{
		position: relative;
		right: 5px;
	}

	/*================= Activités à Marseille =================*/
	.sect03{
		display: block;
		width: 100%;
		height: 1300px;
		position: relative;
		right: 20px;
			
	}
	.vieuxport, .pomeg, .frioul, .parc, .notredame, .longch{
		width: 90%;
		height: 150px;
		margin-left: 15px; 
	}
	.legend02{
		width: 90%;
		margin-left: 15px;
	}
	#activ01, #activ03{
		width: 100%;
		height: 190px;	
		margin-bottom: 35px;

	} 
	#activ02, #activ04{
		width: 100%;
	}
	#activ01{
		position: relative;
	}
	#activ02{
		position: relative;
		left: 0px;
		bottom: 10px;
	}
	#activ03{
		position: relative;
		left: 0px;
		bottom: 10px;
	}
	#activ04{
		position: relative;
		left: 0px;
		bottom: 20px;
	}
	#activ02b{
		position: relative;
		bottom: 14px;
	}
	#activ04b{
		position: relative;
		bottom: 12px;
	}
	/*=============== Footer =============*/  
	footer{
		display: block; 
		height: 400px;
	}
	#apropos{
		width: 100%;
		position: relative;
		top: 40px;
		margin-bottom: 50px;
	} 
	#nosheberg{
		width: 100%;
		position: relative;
		left: 0px;
		top: 20px;
		margin-bottom:30px;
	} 
	#assistance{
		width: 100%;
		position: relative;
		top: 20px;
		left: 0px;
		margin-bottom: 10px;
	}
}
/*===============================================================*/
@media screen and (min-width: 765px) and (max-width: 950px){
	
	#iconr{
		width: 6%;
	}
	#champ{
		width: 25%; 
	}
	#rechercher{
		width: 15%; 
	}
	/*=====================================*/
	#idf02, #idf04, #idf06, #idf08{
		font-size: 80%;
	}
	.filtre{
		width: 100%; 
	}
    /*======================================*/
	#sect02{
		width: 94%;
		height: 800px;
		display: flex;
	}  
	.principal{
		height: 800px;
		width: 100%;
	}
	#hebergements{
		height: 740px;
		display: flex;
		flex-wrap: wrap;
	}
	#image11, #image12, #image13, #image14, #image15, #image16{
		width: 40%;
	}	
	.legend01{
		height: 50%;
		width:120%;
	}
    aside{
		width: 70%;
		height: 800px;
		border-radius: 15px;
		margin-left: 10px;
	}
	#pop i{
		position: relative;
		left: 25px; 
	}
	#image21, #image22, #image23{
		width: 80%;
		margin-left: 25px;
	}
	#image22{
		position: relative;
		top: 75px;
	}
	#image23{
		position: relative;
		top: 167px;
	}
	.grise2, .bleu2 {
		position: relative;
		top: 45px;
	}
	#activ{
		margin-left:20px;
		margin-top:20px;
		margin-bottom: 15px;
	}
	.sect03{
		margin-top: 20px;
	}
	
}



	  


