body {
	font-family: 'Raleway', sans-serif;
	margin: 10;
	padding: 10;
	overflow-x: hidden;
}
/*=================== SECTION 01 ( Logo et Accueil)================*/

#haut{
	height: 100px;
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	justify-content: space-between;
	border: #0065FC solid 3px;
}

.img_res{
	width: 20% ;
	position: relative;
	bottom: 20px;
	left: 38px;
}

.logo_reservia{
	padding-top: 70px;
}
#trait{

	width:160px;
	height:2px;
	background-color: #0065FC;
	font-size:0;
	position: relative;
	top: 0px; left: 10px;
}
.accueil{
	
	flex-direction: column ;
}
.textacc{
	padding-top: 70px;
	width: 400px;
	display: flex;
	justify-content: space-around;
	font-size: 15px;
	color: #0065FC;
	font-weight: bold;
}
.textacc a{
	text-decoration: none;
}
.textacc a:hover{
	color:black;
}

/*============SECTION 01 bis ( Titre, recherche et filtre )=============*/

#sect01{
	
	background-color: #fdfffa;
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	border: #0065FC solid 3px;
	
}

#titre01 h2{
	position: relative;
	top: 10px;
	left: 38px;

}
#idf00{
	position: relative;
	top: 10px;
	left: 38px;
}
#offres{
	position: relative;
	left: 38px;

}

#id01{

	font-size: 60%;
	font-weight: normal;
}
.rech{
	display:flex;
	align-items: stretch;
	position: relative;
	left: 38px;
}

#iconr{
	width: 30px;
	height: 40px;
    background-color: #F2F2F2;		
   	border-top-left-radius: 10px; 
	border-bottom-left-radius: 10px;   
	text-align: center;   
}

#iconr i{
	position: relative;
	top: 8px;
	font-size: 13px;
}
#champ{
   	border: solid  #F2F2F2;;
	margin-left: 0px;
	height: 40px;
	width: 179px; 
	color: black;
	font-weight: bold;  
	text-indent: 10px;
}

#rechercher{
	position: relative;
	width: 100px;
	height: 40px;
	top: 0px;
	left: -4px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #0065FC; 
	color: white ;
	border: solid #0065FC;
}

.filtre{
	position: relative;
	top: 20px;
	left: 0px;
	display:inline-flex;
	
}
#idf00{
	font-weight: bold;
	font-size: 90%;
}

#idflabels{
	background-color: white;
	display: inline-flex;
	justify-content: space-around;
	max-width: 850px;
	border: #0065FC solid 2px;
	
		
} 

.eco{
	width: 300px;
}

.famille, .roman, .autoriz{
	width: 50px;
	/*position: relative;
	left: 20px; */
}


#idf01, #idf03, #idf05, #idf07 {
	width: 220px;
	height: 43px;
    background-color:#DEEBFF;
	border-radius: 50%;		
   	text-align: center; 
	position: relative;
	left: 15px;
	
}

#idf01 i, #idf03 i, #idf05 i, #idf07 i{
	position: relative;
	top: 10px;
	font-size: 13px;
	color: #0065FC;
}

#idf02, #idf04, #idf06, #idf08{
	border: solid #F2F2F2;
 	/*margin-left: 0px;*/
    height: 43px;
	font-weight: bolder;
	font-size: 90%;
	text-align: center;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	background-color: white;
}
#idf02{
    width: 670px;
}
#idf04{
    width:470px;
}
#idf06{
	width:700px;
}
#idf08{
	width: 770px;
}

#offres{
	position: relative;
	top: 50px;
	display: inline-flex;
}
#idof{
	width: 20px;
	height: 20px;
    border:#F2F2F2 solid;
	border-radius: 50%;		
   	text-align: center;
	position: relative;
	top: 10px; 
}

#idof i{
	position: relative;
	top: -2px;
	font-size: 13px;
	color: #0065FC;
}
#offres p{
	position: relative;
	left: 10px;
	font-size: 90%;
}
.choix{
	text-decoration: none;
	color: black;
}

/*==============SECTION 02 ===============*/
#sect02{
	margin-top: 60px;
	height: 650px;
	display: flex;
	justify-content: space-between;
	padding-left: 38px;
	padding-right: 38px;
	border: #0065FC solid 3px;
}
.principal{
	margin-left: 20px;
	margin-right: 20px;
	width: 810px;
	background-color:#F2F2F2;
	display: flex;
	flex-direction: column;
	border-radius: 13px;
	
}
.principal h2{
	position: relative;
	left: 32px;
}

.bleu{
	color: #0065FC;
	font-size: 10px
}
.grise{
	color: #F2F2F2;
	font-size: 10px;
}

#hebergements01{
	margin-left: 10px;
	margin-right: 10px;
	height: 245px;
	display: flex;
	justify-content: space-between;
}
#hebergements02{
	margin-left: 10px;
	margin-right: 10px;
	height: 245px;
	display: flex;
	justify-content: space-between;
}

.image11, .image12, .image13,.image14, .image15, .image16{
	background-color: white;
	font-size: small;
	border: #fdfffa;
	border-radius: 13px;
	margin-left: 20px; ;
	margin-right: 20px;
	margin-bottom: 20px;;

}

.image11 img, .image12 img, .image13 img, .image14 img, .image15 img, .image16 img {
	width: 220px;
	height: 135px;
	border: #fdfffa solid 3px;
	object-fit: cover;
	border-top-left-radius:13px;
	border-top-right-radius:13px;
}
.legend01 a, .imtxt a{
	color: black;
	text-decoration: none;
}

.legend01{
	padding-top: 8px;
	padding-left: 10px;
}
.grastxt{
	font-weight: bolder;
}

#affch{
	position: relative;
	left: 30px;
	top: 5px;
	
}
.affchplus{
	text-decoration: none;
	color: black;
	font-weight: bolder;
}

/*=============== ASIDE ===============*/
aside{
	width: 385px;
	height: 645px;
	background-color: #F2F2F2;
	border-radius: 13px;
	border: #0065FC solid 3px;
	margin-left: 0px;
}

#pop{
	display: flex;
}
#pop h2{
	position: relative;
	left: 28px; 
}
#pop i{
	position: relative;
	left: 100px; ;
	top: 25px;
	font-weight: bolder;
	font-size: 22px;
}

#paveside{
	height:578px;
	border: #0065FC solid 3px;
	
}
.image21{
	display: flex;
	width: 320px;
	margin-left: 25px;
	background-color: #F2F2F2;
	border-radius: 13px;
	position: relative;
	top: -8px;
}
.image22{
	display: flex;
	width: 320px;
	margin-left: 25px;
	background-color: #F2F2F2;
	border-radius: 13px;
	position: relative;
	top: 12px;
}
.image23{
	display: flex;
	width: 320px;
	margin-left: 25px;
	background-color: #F2F2F2;
	border-radius: 13px;
	position: relative;
	top: 30px;
}
.imtxt{
	width: 190px;
	height: 134px;
	border-top-right-radius: 13px;
	border-bottom-right-radius: 13px;
	background-color: white;
	font-size: small;
	border:white solid 3px;
	padding-top: 10px;
	padding-left: 10px;
}
.imtxt i{
	position: relative;
	top:45px;
}

.image21 img, .image22 img, .image23 img{
	width: 130px;
	height: 145px;
	border: #fdfffa solid 3px;
	object-fit: cover;
	border-top-left-radius: 13px;
	border-bottom-left-radius: 13px;
}
/**============== SECTION 03 ===============*/
.sect03{
	border: #0065FC solid 3px;
	padding-left: 20px;
	padding-right: 20px;
	
}
.sect03 h2{
	position: relative;
	left: 38px;

}
#activ{
	height: 480px;
	display: flex;
	justify-content:flex-start; /*  */
	border: #0065FC solid 2px;
}
#vieuxport img{
	width: 270px;
	height: 385px;
	border: #f2f2f2 solid 3px;
	object-fit: cover;
	
	border-top-left-radius:13px;
	border-top-right-radius:13px;
	position: relative;
	right: 5px;
}
#fort{
	width: 270px;
	height: 215px;
	border: #f2f2f2 solid 3px;
	object-fit: cover;
	border-top-left-radius:13px;
	border-top-right-radius:13px;
	position: relative;
	right: 35px;
	
}
#iles{
	width: 270px;
	height: 104px;
	border: #f2f2f2 solid 3px;
	object-fit: cover;
	border-top-left-radius:13px;
	border-top-right-radius:13px;
	position: relative;
	right: 35px;
}
#parc img{
	width: 270px;
	height: 389px;
	border: #f2f2f2 solid 3px;
	object-fit: cover;
	border-top-left-radius:13px;
	border-top-right-radius:13px;
	position: relative;
	right: 65px;
}
#ndgarde{
	width: 270px;
	height: 145px;
	border: #f2f2f2 solid 3px;
	object-fit: cover;
	border-top-left-radius:13px;
	border-top-right-radius:13px;
	position: relative;
	right: 95px;
}
#longchamp{
	width: 270px;
	height: 175px;
	border: #f2f2f2 solid 3px;
	object-fit: cover;
	border-top-left-radius:13px;
	border-top-right-radius:13px;
	position: relative;
	right: 95px;
}
#vieuxport figcaption{
	position: relative;
	right: 5px;
}

#fort_iles figcaption{
	position: relative;
	right: 35px;
}
#parc figcaption{
	position: relative;
	right: 65px;
}
#notredame figcaption{
	position: relative;
	right: 95px;
}
.legend02{
	font-size: small;
	font-weight: bolder;
	height: 40px;
	border-left: #f2f2f2 solid 3px;
	border-right: #f2f2f2 solid 3px;
	border-bottom: #f2f2f2 solid 3px;
	border-bottom-left-radius:13px;
	border-bottom-right-radius:13px;
}
.leg{
	position: relative;
	left: 10px;
	top: 10px;
}

/**================== FOOTER =================**/
footer{
	display: flex;
	justify-content: space-around;
	font-size: small;
	margin-top: 20px;
	background-color: rgb(223, 219, 219);
	border: #0065FC solid 3px;
}
#apropos{
	position: relative;
	right: 100px; 
}
#nosheberg{
	position: relative;
	right: 150px; 
}
#assistance{
	position: relative;
	right: 150px; 
}
.sstrait{
	text-decoration: none;
	color: black;
}

/*============= ADAPTATION RISPONSIVE ==============

@media screen and (min-width: 635px) and (max-width: 765px)
{
   #haut, .sect01,.recherche, .filtres, #idflabels, #offres{
       flex-direction: column;
      }
}

*/
